.filterNav {
  composes: resetUl from "../../css/Index.module.css";
  composes: displayFlex from "../../css/Index.module.css";
  composes: gap from "../../css/Index.module.css";
  flex-direction: column;
  text-transform: capitalize;
  text-align: center;
}

.displayedProducts {
  composes: gap from "../../css/Index.module.css";
  display: grid;
}

.product {
  border: var(--brd-pri);
  padding: 0 var(--size-1);
}

.productCategory {
  composes: textRight from "../../css/Index.module.css";
  composes: colorGray5 from "../../css/Index.module.css";
}

.productsImg {
  width: 35%;
  aspect-ratio: 1;
  margin: auto;
}

.productTitle {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productDetails {
  composes: displayFlex from "../../css/Index.module.css";
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .filterNav {
    flex-direction: row;
  }

  .displayedProducts {
    grid-template-columns: repeat(2, 1fr);
  }

  .productTitle {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .displayedProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}
